<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/home.css">


             <title>Que Larica!</title>
</head>

<body>
    
    


    
    

    <div id="form_frente">

        <form action="/account" id="conta" method="post">
        <button type="submit">
            Minha Conta
        </button> <br> <br> <br>

    </form>

    <form action="/pedidosrecente" id="ped_rec" method="post">
        <button type="submit">
            Pedidos Recentes
        </button> <br> <br> <br>


    </form>

    <form action="/Promocionais" id="promo" method="post">
        <button type="submit">
            Restaurantes Promocionais
        </button> <br> <br> <br>


    </form>

    <form action="/codpromo" id="codigo" method="post">
        <button type="submit">
            Inserir Codigo Promocional
        </button> <br> <br> <br>
    
        

    </form>


    </div>




 <div id="form_fundo">


 </div>

</body>

