<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/login.css">


             <title>Que Larica!</title>
</head>

<body>
    
    
    
<div id="form_fundo">

    <div class="image-container">
        <img src="/static/img/image.png" alt="Imagem">
    </div> <br> <br> <br> <br> <br> 
    

    <div id="form_frente">

        <form action="/Login" id="login" method="post">
        <button type="submit" id="b_login">Possuo uma conta</button> <br>
        </form>

        <br> <br>

        <form action="/cadastro" id="cadastro" method="post">
        <button action="submit" id="b_cadastro">Criar uma conta</button>
         </form>

    </div>

</div>
</div>


</body>


